@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
$main_font: 'Roboto', sans-serif;
@mixin max-screen($res) {
  @media screen and (max-width: $res) {
    @content;
  }
}

header{
  .collapsing{
    background-color: lightgrey;
    border-radius: 10px;
    padding: 5px;
  }
  .show{
    background-color: lightgrey;
    border-radius: 10px;
    padding: 5px;
  }
  .navbar{
    .first_text{
      margin: revert;
      @include max-screen(768px){
        color: white;
      }
      @include max-screen(373px){
        margin-left: -15px;
      }
    }
    .navbar-brand{
      margin-right: 22px;
    }
    .navbar-nav{
      .nav-item{
        border: 1px solid #FFFFFF;
        border-radius: 15px;
        margin-right: 22px;
        .nav-link{
          color: white;
          padding: 7px 10px;
        }
      }
    }
  }
}

.main_banner {
  background-image: url("../images/011.jpg");
  background-size: cover;
  height: 100vh;
  @include max-screen(768px){
    background-image: url("../images/delivery.jpg");
    background-size: cover;
  }
    .container {
    height: 100vh;
      .main_banner_box {
        height: 250px;
        @include max-screen(600px){

        }
        .main_title {
          margin-bottom: 30px;
          font-family: $main_font;
          font-size: 50px;
          @include max-screen(768px){
            color: white;
          }
          @include max-screen(429px) {
            font-size: 30px;
          }
          @include max-screen(324px) {
            font-size: 25px;
          }
        }

        .main_subtitle {
          margin-bottom: 65px;
          font-family: $main_font;
          font-size: 30px;
          @include max-screen(768px){
            color: white;
          }
          @include max-screen(550px) {
            font-size: 20px;
            margin-bottom: 30px;
          }
        }

        .main_links {
          padding: 23px 47px;
          border-radius: 40px;
          font-family: $main_font;
          font-style: normal;
          font-weight: 400;
          font-size: 18px;
          line-height: 140%;
          @include max-screen(992px) {
            margin-bottom: 10px;
          }
          @include max-screen(550px) {
            padding: 15px 27px;
          }

          &:first-of-type {
            margin-right: 20px;
          }
          &:last-of-type{
            @include max-screen(550px) {
              padding: 15px 19px;
            }
            @include max-screen(391px) {
              padding: 15px 15px;
            }
          }
        }
      }
  }
}
.firm_style{
  padding: 70px 0 133px;
  .row {
    margin-bottom: 120px;

    .firm_style_subtitle {
      margin-bottom: 15px;
    }

    .firm_style_photo {
      max-width: 635px;
      margin-bottom: 10px;

      .firm_style_image {
        display: block;
        width: 100%;
      }
    }

    .firm_style_text {
      font-family: $main_font;
      font-size: 17px;
    }

    .elements_title {
      margin-bottom: 40px;
      font-family: $main_font;
      font-size: 43px;
    }

    .elements {
      font-size: 22px;
      margin-right: 10px;

      .elements_text {
        font-size: 13px;
      }
    }
  }

    .lifecare {
      margin-top: 120px;

      .firm_style_subtitle {
        margin-bottom: 15px;
      }

      .firm_style_text {
        font-size: 18px;

        &:last-of-type {
          background: lightseagreen;
          border-radius: 5px;
          margin-left: -10px;
          padding: 10px;
        }

      }
    }
}