@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
$main_font: 'Roboto', sans-serif;
@mixin max-screen($res) {
  @media screen and (max-width: $res) {
    @content;
  }
}

header{
  .collapsing{
    background-color: lightgrey;
    border-radius: 10px;
    padding: 5px;
    @include max-screen(768px){
      background-color: blue;
      border-radius: 10px;
    }
  }
  .show{
    background-color: lightgrey;
    border-radius: 10px;
    padding: 5px;
    @include max-screen(768px){
      background-color: blue;
      border-radius: 10px;
    }
  }
  .navbar{
    .first_text{
      margin: revert;
      @include max-screen(768px){
        color: white;
      }
      @include max-screen(373px){
        margin-left: -15px;
      }
    }
    .navbar-brand{
      margin-right: 22px;
    }
    .navbar-nav{
      .nav-item{
        border: 1px solid #FFFFFF;
        border-radius: 15px;
        margin-right: 22px;
        .nav-link{
          color: white;
          padding: 7px 10px;
        }
      }
    }
  }
}

.main_banner {
  background-image: url("../images/011.jpg");
  background-size: cover;
  height: 100vh;
  @include max-screen(768px){
    background-image: url("../images/delivery.jpg");
    background-size: cover;
  }
    .container {
    height: 100vh;
      .main_banner_box {
        height: 250px;
        @include max-screen(600px){

        }
        .main_title {
          margin-bottom: 30px;
          font-family: $main_font;
          font-size: 50px;
          @include max-screen(768px){
            color: white;
          }
          @include max-screen(429px) {
            font-size: 30px;
          }
          @include max-screen(324px) {
            font-size: 25px;
          }
        }

        .main_subtitle {
          margin-bottom: 65px;
          font-family: $main_font;
          font-size: 30px;
          @include max-screen(768px){
            color: white;
          }
          @include max-screen(550px) {
            font-size: 20px;
            margin-bottom: 30px;
          }
        }

        .main_links {
          padding: 23px 47px;
          border-radius: 40px;
          font-family: $main_font;
          font-style: normal;
          font-weight: 400;
          font-size: 18px;
          line-height: 140%;
          @include max-screen(992px) {
            margin-bottom: 10px;
          }
          @include max-screen(550px) {
            padding: 15px 27px;
          }

          &:first-of-type {
            margin-right: 20px;
          }
          &:last-of-type{
            @include max-screen(550px) {
              padding: 15px 19px;
            }
            @include max-screen(391px) {
              padding: 15px 15px;
            }
          }
        }
      }
  }
}
.firm_style{
  padding: 70px 0 0;
  .row {
    margin-bottom: 120px;

    .firm_style_subtitle {
      margin-bottom: 15px;
    }

    .firm_style_photo {
      max-width: 635px;
      margin-bottom: 10px;

      .firm_style_image {
        display: block;
        width: 100%;
      }
    }

    .firm_style_text {
      font-family: $main_font;
      font-size: 17px;
    }

    .elements_title {
      margin-bottom: 40px;
      font-family: $main_font;
      font-size: 43px;
    }

    .elements {
      font-size: 22px;
      margin-right: 10px;
      &::marker{
        font-size: 30px;
      }
    }
  }

    .lifecare {
      margin-top: 120px;

      .firm_style_subtitle {
        margin-bottom: 15px;
      }

      .firm_style_text {
        font-size: 18px;

        &:last-of-type {
          background: lightseagreen;
          border-radius: 5px;
          margin-left: -10px;
          padding: 10px;
        }

      }
    }
}
.portfolio{
.portfolio_image{
  display: block;
  width: 100%;
  margin-bottom: 54px;
  margin-top: 30px;
}
  .portfolio_title{
    font-family: $main_font;
    font-size: 40px;
  }
  .portfolio_text{
    margin-bottom: 35px;
    font-family: $main_font;
    font-size: 20px;
  }
  .portfolio_link{
    font-family: $main_font;
    font-size: 20px;
    color: black;
    border: solid 2px black;
    border-radius: 20px;
    padding: 25px 20px;
  }
}
.guideline{
  .guideline_subtitle{
    margin-bottom: 15px;
    font-family: $main_font;
    font-size: 30px;
  }
  .guideline_image{
    display: block;
    width: 100%;
    margin-bottom: 15px;
  }
  .guideline_text{
    font-family: $main_font;
    font-size: 19px;
    &:first-of-type{
      background: #2B59C3;;
      border-radius: 5px;
      margin-left: -10px;
      padding: 10px;
    }
  }
  .guideline_titles{
    margin: 77px 0 27px;
    h3{
      font-family: $main_font;
      font-size: 30px;
      margin-bottom: 11px;
    }
    h4{
      font-family: $main_font;
      font-size: 20px;
    }
  }
  .form-check-label{
    margin-left: 15px;
  }
  .form-check-input{
    margin-left: -3px;
  }
  .btn-mine{
    padding: 7px;
  }
}
.stages{
  margin-top: 100px;
  .stages_title{
    margin-bottom: 83px;
  }
  .stages_photo{
    display: block;
    margin-bottom: 22px;
  }
  .stages_text{
    font-family: $main_font;
    font-size: 15px;
  }
}

.difference{
  margin-top: 165px;
  margin-bottom: 150px;
  @include max-screen(768px){
    display: none;
  }
  .row {
    .creative_border{
      border: 4px solid #2B59C3;
      border-radius: 10px;
    }
    &:first-of-type {
      .col-lg-3 {
        border: none;
        &:nth-child(3){

          border: 4px solid #2B59C3;
          border-bottom: none;
          border-bottom-left-radius: 0;
          border-bottom-right-radius: 0;
        }
      }
      .difference_border {
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;
      }
    }
    &:nth-child(2){
      .col-lg-3{

        border-bottom: none;
        border-top: none;
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;
        border-top-right-radius: 0;
        border-top-left-radius: 0;
      }
      .difference_border {
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;
        border-top-right-radius: 0;
        border-top-left-radius: 0;
      }
    }
    &:nth-child(3){
      .col-lg-3{
        border-bottom: none;
        border-top: none;
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;
        border-top-right-radius: 0;
        border-top-left-radius: 0;
      }
      .difference_border {
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;
        border-top-right-radius: 0;
        border-top-left-radius: 0;
      }
    }
    &:nth-child(4){
      .col-lg-3{
        border-bottom: none;
        border-top: none;
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;
        border-top-right-radius: 0;
        border-top-left-radius: 0;
      }
      .difference_border {
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;
        border-top-right-radius: 0;
        border-top-left-radius: 0;
      }
    }
    &:nth-child(5){
      .col-lg-3{
        border-bottom: none;
        border-top: none;
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;
        border-top-right-radius: 0;
        border-top-left-radius: 0;
      }
      .difference_border {
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;
        border-top-right-radius: 0;
        border-top-left-radius: 0;
      }
    }

    &:last-of-type {
      .col-lg-3 {
        border: none;
        &:nth-child(3) {
          border: 4px solid #2B59C3;
        }
        &:nth-child(3){
            border-top: none;
            border-top-right-radius: 0;
            border-top-left-radius: 0;
        }
      }
      .difference_border {
        border-top-right-radius: 0;
        border-top-left-radius: 0;
      }
    }
    h5 {
      font-family: $main_font;
      font-size: 23px;
      color: white;
    }

    p {
      font-family: $main_font;
      font-size: 15px;
    }

    .difference_border {
      background: #2B59C3;
      border-radius: 10px;

    }

    h3 {
      color: #868686;
    }
  }
}
footer{
  .col-form-label{
    font-family: $main_font;
    font-size: 18px;
  }
  .form-check-label{
    color: #007bff;
  }
.contact_title{
  font-family: $main_font;
  font-size: 30px;
  margin-bottom: 20px;
  margin-top: 15px;
}
  .contact_text{
    font-family: $main_font;
    font-size: 16px;
  }
}